<header class="header" role="banner" {{#if @blog.cover}}style="background-image: url({{@blog.cover}});"{{/if}}>
    <div class="container">
        <span class="comment">// </span>

        <h1 class="blog-title"><a href="/">{{@blog.title}}</a></h1>:

        {{> navigation}}

        <div class="blog-description">
            <span class="comment">//
                {{@blog.description}}
            </span>
        </div>
    </div>
</header>
