<header class="header" role="banner" {{#if @blog.cover}}style="background-image: url({{@blog.cover}});"{{/if}}>
	
	<span class="comment">// </span>
	<h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>: 

	{{> navigation}}
	
	<div class="blog-description">
		<span class="comment">// 
			{{@blog.description}}
		</span>
	</div>

</header>
