<nav class="menu" role="navigation">
    <span class="string">"<a href="https://itunes.apple.com/ru/podcast/todo/id944008999?l=ru&mt=2">iTunes</a>"</span>,
    <span class="string">"<a href="https://vk.com/todopodcast">vk.com</a>"</span>,
    <span class="string">"<a href="/assets/rss/episodes.xml">rss</a>"</span>,
    <span class="string">"<a href="/contacts/">контакты</a>"</span>
</nav>
