html, body {
  height: 100% }

a {
	color: #5897CB }

#container {
	margin: 0 auto;
	font-size: 16px;
	width: 600px;
	
	min-height: 100%; /* min. height for modern browser */
    height:auto !important; /* important rule for modern Browser */
    height:100%; /* min. height for IE */
    overflow: hidden !important; /* FF scroll-bar */

	min-height: 100%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: relative;
	background: white }

.header {
	padding: 1em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-left: -1px;
	margin-right: -1px;
	background: #393939; 
	color: #8A8788;
	font-family: "Input Mono", "Source Code Pro", "PT Mono", monospace }

	.header .blog-title {
		font-size: 1em;
		display: inline }

	.header .menu {
		display: inline }

		.header .menu .string, .header .menu .string a {
			color: #D58B48 }

.post-header {
	padding: 1em;
	background: #eee }

	.post-meta {
		float: right;
		color: #ABB4B9 }

		.post-tags {
			margin-right: 1em }

			.post-tags a {
				color: #ABB4B9 }

			.post-tags a:before {
				content: "#" }

	.post-title {
		margin: 0;
		font-size: 1em; }

.post-excerpt, .post-content, .post-comments {
	padding: 1em }

	.post-excerpt p, .post-content p {
		margin: 0;
	}

	.post-excerpt p + p, .post-content p + p {
		margin-top: 1em;
	}

img[alt="Photo-like-in-passport"] {
	float: right;
	border: 1px solid #666 }